/* start global rules */

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 60%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    /* background-image: url(/images/eagle.jpg);
    background-size: cover; */
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* small  screen*/

@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* medium screen */

@media(min-width: 922) {
    .container {
        width: 970px;
    }
}


/* large screen */

@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* end global rules */

header {
    padding-top: 20px;
    width: 100%;
    position: absolute;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}

header .container .logo .logo-img {
    width: 60px;
    padding-top: 15px;
}

nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle {
    color: white;
    font-size: 22px;
    padding: 24px 30px 0 0;
}

@media(min-width:768px) {
    header nav .toggle {
        display: none;
    }
}

nav ul {
    display: flex;
    padding-top: 10px;
    margin-right: 120px;
}

@media(max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* background-color: rgba(80, 66, 66, 0.016); */
        background-color: rgba(0, 0, 0, 0.9)
    }
    header nav .toggle:hover+ul li a {
        padding: 15px;
    }
}

nav ul li a {
    position: relative;
    padding: 40px 18px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    z-index: 2;
}

nav ul li a.active,
nav ul li a:hover,
nav .search-logo i:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

nav .search-logo {
    padding-top: 25px;
    padding-right: 20px;
    position: relative;
}

nav .search-logo i {
    color: white;
    text-decoration: none;
    list-style: none;
}

.landing {
    min-height: 100vh;
    background-image: url(../images/eagle.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /75%);
}

.landing .text {
    position: absolute;
    color: white;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.landing .text .text-content {
    max-width: 500px;
}

.landing .text .text-content h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: normal;
    line-height: 1.5;
    width: 100%;
}

.landing .text .text-content p {
    font-size: 14px;
    /* padding-bottom: 20px;
        padding-right: 10px; */
    line-height: 2;
    width: 100%;
}

@media(max-width: 767px) {
    .landing .text {
        position: absolute;
        top: 50%;
        width: 100%;
        background-color: rgb(15 116 143 / 50%);
    }
    .landing {
        background-position: 38%;
    }
}

.services {
    background-color: white;
}

.services .container .main-heading {
    max-width: 50%;
    margin: 0 auto 50px auto;
    /* Center horizontally and add bottom margin */
    text-align: center;
    padding: 60px 20px;
}

.services .container .main-heading .special_heading {
    font-weight: normal;
    font-size: 32px;
    padding-bottom: 17px;
    position: relative;
}

.services .container .main-heading .special_heading::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: 0;
    width: 20%;
    left: calc(50% - 10%);
}

.services .container .main-heading .p-heading::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    left: calc(50% - 8px);
    top: -10px;
    z-index: 3;
}

.services .container .main-heading .p-heading {
    position: relative;
    padding-top: 30px;
    color: #a2a2a2;
}

.services .container .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 20px;
    padding-bottom: 70px;
    margin-bottom: 20px;
}

@media(max-width:767px) {
    .services .container .service-content .col {
        flex-direction: column;
    }
    .services .container .service-content i {
        align-self: center;
        margin-bottom: 20px;
    }
    .services .container .service-content .col .describ {
        text-align: center;
        margin-left: auto;
    }
}

.services .container .service-content .col {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.services .container .service-content .col i {
    font-size: 40px;
    margin-right: 60px;
}

.services .container .service-content .col .describ {
    max-width: 80%;
    margin-right: 70px;
}

.services .container .service-content .col .describ h2 {
    color: var(--main-color);
    font-weight: 800;
    font-style: normal;
}

.services .container .service-content .col .describ p {
    color: #a2a2a2;
    margin-top: 30px;
    line-height: 1.8;
}

.design {
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    color: aliceblue;
    overflow: hidden;
    position: relative;
}

.design .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /75%);
}

.design .design-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.design .design-content .image {
    margin-left: 200px;
    position: relative;
}

.design .design-content .image img {
    position: absolute;
    top: -60px;
}

.design .design-content .text {
    color: white;
    align-self: center;
    background-color: var(--transparent-color);
    padding: 40px;
    width: 55%;
    height: 55%;
    z-index: 2;
}

.design .design-content .text h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px;
}

.design .design-content .text .lines li {
    margin-bottom: 25px;
}

.design .design-content .text .lines i {
    font-size: 18px;
    padding-right: 30px;
}

@media (max-width: 1240px) {
    .design .design-content .image {
        margin-left: 100px;
    }
}

@media(max-width:991px) {
    .design .design-content {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 50px;
    }
    .design .design-content .image {
        margin: 28px auto;
        /* margin-top: -40px; */
        overflow: hidden;
    }
    .design .design-content .image img {
        position: relative;
        top: 0px;
    }
    .design .design-content .text {
        width: 100%;
        z-index: 2;
    }
    .design .design-content .text .lines {
        width: fit-content;
        margin: 0 auto;
    }
    .design .design-content .text h2 {
        text-align: center;
    }
}

.portfolio {
    background-color: white;
    margin-bottom: 50px;
}

.portfolio .main-heading {
    max-width: 50%;
    margin: 0 auto 30px auto;
    /* Center horizontally and add bottom margin */
    text-align: center;
    padding: 60px 20px;
}

.portfolio .main-heading .special-heading {
    font-weight: normal;
    font-size: 32px;
    padding-bottom: 17px;
    position: relative;
}

.portfolio .main-heading .special-heading::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: 0;
    width: 15%;
    left: 42%
}

.portfolio .main-heading .p-heading {
    position: relative;
    color: #a2a2a2;
}

.portfolio .main-heading .p-heading::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    left: calc(50% - 12px);
    top: -10px;
    z-index: 3;
}

.portfolio .main-heading .p-heading {
    position: relative;
    padding-top: 30px;
}

.portfolio .small-nav {
    text-align: center;
    margin-bottom: 40px;
}

.portfolio .small-nav ul {
    display: flex;
    justify-content: center;
}

.portfolio .small-nav ul li {
    margin-right: 12px;
    padding: 5px 8px;
    transition: 0.3s;
}

.portfolio .small-nav ul .active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .small-nav ul li:hover {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.portfolio .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0px;
}

.portfolio .content .card {
    width: 368px;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
}

.portfolio .content .card img {
    width: 366px;
    transition: 0.3s;
}

.portfolio .content .card .describe {
    display: none;
    z-index: 2;
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0px;
    transition: 0.3s;
}

.portfolio .content .card .describe div {
    color: var(--main-color);
    margin: 20px 0px 12px 20px;
}

.portfolio .content .card:hover {
    .describe {
        display: block;
    }
    img {
        transform: rotate(3deg) scale(1.1);
    }
}

.portfolio .button {
    display: flex;
    justify-content: center;
}

.portfolio .more-btn {
    text-align: center;
    padding: 12px 16px;
    background-color: var(--main-color);
    width: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid white;
}

@media (max-width: 767px) {
    .portfolio .main-heading {
        max-width: 90%;
    }
    .portfolio .main-heading .special-heading {
        font-size: 22px;
    }
    .portfolio .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio .content .card {
        width: 90%;
    }
    .portfolio .content .card img {
        width: 100%;
    }
    .portfolio .content .card .describe div {
        margin-left: 50px;
    }
    .portfolio .more-btn {
        margin: 20px auto;
    }
}

.portfolio .more-btn:hover {
    background-color: var(--transparent-color);
    cursor: pointer;
}

.awesome {
    background-image: url(../images/awesome-video.mp4);
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

.awesome video {
    width: 100%;
}

.awesome .describe {
    background-color: var(--transparent-color);
    position: absolute;
    top: 35%;
    color: white;
    width: 100%;
    height: 30%;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awesome .describe h2 {
    font-weight: normal;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 18px;
}

.awesome .describe div {
    font-size: 14px;
    margin-bottom: 18px;
}

.awesome .describe button {
    background-color: black;
    padding: 8px 18px;
    margin-bottom: 18px;
    color: white;
    width: 120px;
    border: 1px solid black;
    align-self: center;
}

.awesome .describe button:hover {
    cursor: pointer;
    background-color: var(--main-color);
}

@media (max-width:767px) {
    .awesome video {
        width: 90%;
        margin: 0px auto;
    }
    .awesome .describe {
        width: 90%;
        height: 50%;
        bottom: 0;
        ;
        margin: 0 auto 0 auto;
    }
    .awesome .describe h2 {
        font-weight: normal;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 18px;
    }
}

.about {
    margin-bottom: 70px;
}

.about .main-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .main-heading .special-heading {
    font-size: 32px;
    font-weight: normal;
    position: relative;
    margin-bottom: 60px;
}

.about .main-heading .special-heading::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: -20px;
    background-color: black;
    left: 20px;
}

.about .main-heading .p-heading {
    color: #a2a2a2;
    position: relative;
}

.about .main-heading .p-heading::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    left: 49%;
    top: -50px;
    z-index: 2;
}

.about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .content img {
    width: 50%;
    position: relative;
    bottom: -120px;
    overflow: hidden;
    filter: drop-shadow(20px 10px 10px #000e45);
}

.about .box {
    background-image: url(../images/shuffle-02.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    z-index: 3;
}

.about .box .data {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--transparent-color);
    z-index: 3;
    text-align: center;
    height: 300px;
    border-radius: 10px;
    filter: drop-shadow(20px 10px 10px #000e45);
}

.about .box .data .info {
    width: 100%;
}

.about .box .data {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: var(--transparent-color);
    z-index: 3;
    text-align: center;
    height: 300px;
}

.about .box .data .info {
    width: 50%;
    box-sizing: border-box;
}

.about .box .data .info h3 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .about {
        margin: 0px auto;
    }
    .about .main-heading {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
    }
    .about .main-heading .special-heading {
        font-size: 22px;
    }
    .about .main-heading .p-heading {
        max-width: 60%;
        align-self: center;
    }
    .about .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .content .box {
        width: 90%;
    }
    .about .content img {
        width: 70%;
        position: relative;
        top: 50px;
        margin: 0 auto 0px auto;
    }
    .about .content .box .data {
        flex-wrap: wrap;
    }
}

.about .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 60px;
}

.about .container .heading {
    margin-bottom: 60px;
    text-align: center;
}

.about .container .heading .Top {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.about .container .heading p {
    color: #7e7e7e;
    line-height: 1.7;
}

.about .container .test {
    margin-right: 40px;
}

.about .container .test .card {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
}

.about .container .test .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.about .container .test .card .describe {
    display: flex;
    flex-direction: column;
    position: relative;
}

.about .container .test .card div p {
    line-height: 1.8;
    margin-bottom: 8px;
    max-width: 80%;
}

.about .container .test .card div .name {
    align-self: flex-end;
    color: #7e7e7e;
    font-size: 16px;
}

.about .container .test .card .describe::after {
    content: "";
    position: absolute;
    background-color: #a4a4a4;
    height: 1px;
    width: 100%;
    bottom: -20px;
}

.about .container .skills .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about .container .skills .proggress {
    width: 100%;
    margin-bottom: 20px;
}

.about .container .skills .proggress h4 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
}

.about .container .skills .proggress .prog {
    background-color: #7e7e7e;
    width: 100%;
    height: 30px;
    position: relative;
}

.about .container .skills .proggress .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -25px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    z-index: 3;
}

.about .container .skills .proggress .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}